/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    top: 0;
    right: 0;
    left: 0;
}

/* CUSTOMIZE THE CAROUSEL
http://arturssmirnovs.com/blog/bootstrap-carousel-100-height-and-width/
-------------------------------------------------- */
.carousel, .item, .active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel {
    margin-bottom: 0px;
}

.carousel-control.right, .carousel-control.left {
}

.carousel-caption {
    top: 40%;
}

.carousel .item {
}

.carousel .carousel-inner .bg {
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel .carousel-inner .bg1 {
    background-position: center center;
    background-image: url("../images/background-1.png");
}

.carousel .carousel-inner .bg2 {
    background-position: center center;
    background-image: url("../images/background-2.png");
}

.carousel .carousel-inner .bg3 {
    background-color: #5cb85c;
    background-position: center center;
}

.settings-panel-body {
    background-color: #fff;
    color: #737373;
    text-shadow: none;
    border-radius: 4px;
    margin-top: 5px;
}

.navbar {
    margin-bottom: 0;
}

/*
 * Content div
 */
.contentdiv {
    height: 95%;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media ( min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media ( min-width: 992px) {
    .featurette-heading {
        margin-top: 100px;
    }
}